<div class="wrapper">
  <h2 class="section-header">Hey there, Welcome to my page! I'm Shreenidhi Sriram and here's a little bit about myself!</h2>
  <div class="container">
      <p>
        I'm a highly motivated and skilled professional with experience in software development and data analytics from renowned tech companies such as Amazon and Intel Corporation. Adept at utilizing strong decision-making, analytical, problem-solving and communication skills to tackle challenges and deliver impactful solutions. Passionate about continuously learning and applying logical reasoning to drive successful outcomes.
      </p>
      <div class="card">
        <img src="assets/static/images/nidhi.jpeg">
      </div>
  </div>
</div>
