<div class="wrapper">
  <h2 class="section-header">Hey there, Welcome to my page! I'm Shreenidhi Sriram and here's a little bit about myself!</h2>
  <div class="container">
      <p> As a passionate and motivated individual, I've created this platform to share my personal and professional journey. From my educational background and professional experience, to my interests in research and building innovative personal projects outside of work, you'll find it all here. I hope to inspire and engage visitors by offering a glimpse into my world, and showcasing the skills and creativity that have shaped my career. </p>
        
      <p> The three C's that define me include: Curiosity, Consistency, and Confidence. I'm highly motivated and skilled with experience in software development and data analytics from renowned tech companies such as Amazon and Intel Corporation. I'm also adept at utilizing strong decision-making, analytical, problem-solving and communication skills to tackle challenges and deliver impactful solutions. My passion about continuously learning and applying logical reasoning to drive successful outcomes, gets me going everyday. </p>
        
      <p> I have honed both technical and analytical proficiencies to excel in software development and data analytics. I bring with me extensive hands-on experience in an array of technical skills, including but not limited to Python, Java, SQL, AWS, Tableau, Power BI, and more, which I have leveraged to design data pipelines, databases, and dashboards. </p>
        
      <p> My exceptional achievements and awards, including "Fearless Innovation" and "One Intel" from Intel Corporation, "Best Final Year Project" and "Outstanding Student Researcher" from the Department of Computer Science, AU, and certifications like the “Oracle Certified Associate Java SE 8 Programmer I” and “AWS Certified Cloud Practitioner,” are testament to my technical and analytical abilities. </p>

      <p> I am graduating in May 2023 and actively seeking full-time opportunities in the analytics and software engineering domain. With unwavering confidence, my technical and analytical expertise and my ardent passion for analytics and IT would make me a valuable asset to any organization. </p>
     
      <div class="card">
        <img src="assets/static/images/nidhi.jpeg" alt="My Profile Picture" width="400" height="600">
      </div>
  </div>
</div>
