<div class="wrapper">
  <h2 class="section-header">Hey there, Welcome to my page! I'm Shreenidhi Sriram and here's a little bit about myself!</h2>
  <div class="container">
      <p> The three C's that define me include: Curiosity, Consistency, and Confidence. I've created this platform to share my personal and professional journey. From my educational background and professional experience, to my interests in research and building innovative personal projects outside of work, you'll find it all here. I'm adept at utilizing strong decision-making, analytical, problem-solving and communication skills to tackle challenges and deliver impactful solutions. My passion about continuously learning and applying logical reasoning to drive successful outcomes, gets me going everyday. I hope to inspire and engage visitors by offering a glimpse into my world, and showcasing the skills and creativity that have shaped my career. 
           
      </p>
     
      <div class="card">
        <img src="assets/static/images/nidhi.jpeg" alt="My Profile Picture" width="400" height="600">
      </div>
  </div>
</div>
