<div class="wrapper" id="projects">
  <h2 class="section-header">Project Highlights</h2>
  <div class="container">
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/teamwork.jpeg"/>
      </div>
      <div class="content">
        <a href="https://github.com/snidhi99/Cancer-Diagnostic">
          <header>
            <span>Academic Project</span>
            <h4>Real-time Cancer diagnostic engine using VGGNET Classifier - Technologies: Python, Neural Networks, Deep Learning</h4>
          </header>
          <section>
            <p>
              Implemented: 16-Layer deep VGGNET neural architecture. 93% Algorithm efficiency (SGD and ADAM). Flask to integrate with web.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/Cancer-Diagnostic"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/sdc.jpeg"/></div>
      <div class="content">
        <a href="https://github.com/snidhi99/SDC">
          <header>
            <span>Personal Project</span>
            <h4>Traffic signs recognition and object detection for self driving cars - Technologies: Deep learning, NLP, Python</h4>
          </header>
          <section>
            <p>
              Performed image classification using the German Traffic Signs dataset. Built a sequential model (CNN, regression algorithms) with an overall accuracy of 91%.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/SDC" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/FOOD.jpeg"/></div>
      <div class="content">
        <a href="https://github.com/snidhi99/FOODWEB">
          <header>
            <span>Academic Project</span>
            <h4>Web app development & DBMS: Food ordering management system - Technologies: MySQL, Java, CSS, HTML, JS</h4>
          </header>
          <section>
            <p>
              Developed a web application using Java to manage food orders. Setup the database using MySQL to provide support for admins, owners, and customers.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/FOODWEB" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/ray_tracing.png" style="transform: scale(1.75, 1.75) translateY(-60px);"/>
      </div>
      <div class="content">
        <a href="https://github.com/snidhi99/TWITTER_SENTIMENT_ANALYSIS">
          <header>
            <span>Academic Project</span>
            <h4>Content Recommendation and Sentimental Analysis for Twitter users - Technologies: Python, Machine Learning</h4>
          </header>
          <section>
            <p>
              Performed: Sentiment analysis, Topic modeling and recommendation system (Twitter). Classifies: 40,000 tweets into 140 interest categories. Hosted on Heroku.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/TWITTER_SENTIMENT_ANALYSIS" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/stock_newspaper.jpg"/></div>
      <div class="content">
        <a href="https://github.com/snidhi99/Student-Assistant-Application---Grad-Project">
          <header>
            <span>Grad Project</span>
            <h4>Data analysis of Streamlined student assistance and deadline management engine - Technologies: SQL, Data Modeling, ETL</h4>
          </header>
          <section>
            <p>
              Automated: Deadline tracking. Performed: ERD-defined business rules, data modeling, and database normalization in MySQL using ETL.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/Student-Assistant-Application---Grad-Project" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
  <div class="card">
      <div class="pic"><img src="assets/static/images/health.jpg"/></div>
      <div class="content">
        <a href="https://public.tableau.com/app/profile/shreenidhi.sriram/viz/LengthOfStay-LOSHealthcaredata/LOSDashboard">
          <header>
            <span>Tableau Public Project</span>
            <h4>Healthcare data analysis and visualization of Length of Stay (LOS) of patients - Technologies: Tableau, Excel</h4>
          </header>
          <section>
            <p>
              Project aimed at analyzing, identifying KPIs and visualizing insights associated with the Length of stay data for hospitals and its differences among other diagnostic groups and services.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://public.tableau.com/app/profile/shreenidhi.sriram/viz/LengthOfStay-LOSHealthcaredata/LOSDashboard" target="_blank"><i class="i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
              
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/stock.jpeg" style="transform: scale(1.75, 1.75) translateY(-60px);"/>
      </div>
      <div class="content">
        <a href="https://github.com/snidhi99/STOCKMARKETPRED">
          <header>
            <span>Academic Project</span>
            <h4>Stock Market Prediction and Analysis using Machine Learning - Technologies: Python, Machine Learning, Regression algorithms</h4>
          </header>
          <section>
            <p>
              Performed logistic regression to predict future stock prices. Established a relation between the predictor and target values, to identify patterns in the stock market industry. Evaluated and compared the performances of logistic and linear regression on stock market data.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/STOCKMARKETPRED" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>          
  
    <div class="card">
      <div class="pic"><img src="assets/static/images/game.jpg"/></div>
      <div class="content">
        <a href="https://public.tableau.com/app/profile/shreenidhi.sriram/viz/AnalysisoftheevolutionofOnlineGamingplatforms/Dashboard">
          <header>
            <span>Tableau Public Project</span>
            <h4>Online Gaming platforms, an evolutionary analysis - Technologies: Tableau, Excel</h4>
          </header>
          <section>
            <p>
              A closer look at the data trends of video-game sales, factors influencing game sales, and understanding what games, platforms, genres, and publishers dominate the game industry over time.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://public.tableau.com/app/profile/shreenidhi.sriram/viz/AnalysisoftheevolutionofOnlineGamingplatforms/Dashboard" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/netflix.jpg"/></div>
      <div class="content">
        <a href="https://public.tableau.com/app/profile/shreenidhi.sriram/viz/NetflixTopSeriesMoviesContentAnalysisandVisualization/MainDashboard">
          <header>
            <span>Tableau Public Project</span>
            <h4>Netflix Data: Top series/movies content recommendation - Technologies: Tableau, Excel</h4>
          </header>
          <section>
            <p>
              A closer look at the data trends and evolution of content of top tv shows and movies of different genre and number of seasons, in different countries across the world.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://public.tableau.com/app/profile/shreenidhi.sriram/viz/NetflixTopSeriesMoviesContentAnalysisandVisualization/MainDashboard" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>        
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/univ.jpg"/></div>
      <div class="content">
        <a href="https://github.com/snidhi99/WEBDEV">
          <header>
            <span>Personal Project</span>
            <h4>University Mock Website for streamlining access to information and registration - Technologies: Javascript, HTML, CSS</h4>
          </header>
          <section>
            <p>
              Created a mock webpage for my university with different sections to access information about courses, registration and other contact information.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/WEBDEV" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
              
    <div class="card">
      <div class="pic"><img src="assets/static/images/livev.jpeg"/></div>
      <div class="content">
        <a href="https://github.com/snidhi99/SLVA">
          <header>
            <span>Academic Project</span>
            <h4>Strong Live Variable Analysis using C++ - Technologies: C++, Shell, CMake</h4>
          </header>
          <section>
            <p>
              Defined local data flow properties and equations for variable analysis, to understand strong liveness.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/SLVA" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>          
              
    <div class="card">
      <div class="pic"><img src="assets/static/images/servers.gif"/></div>
      <div class="content">
        <a href="https://public.tableau.com/app/profile/shreenidhi.sriram/viz/StoryCOVID-19VaccinationImpactintheUSBeforeAfterVaccination/Story1">
          <header>
            <span>Tableau Public Project</span>
            <h4>Analysis of Vaccination Impact on Public Health: Before and After COVID-19 - Technologies: Tableau, Excel</h4>
          </header>
          <section>
            <p>
              Created a Story and Dashboard with Animated Visualizations in Tableau identifying indicators showing the impact of vaccination on the COVID-19 pandemic (State-wise) in the USA. 
            </p>
          </section>
        </a>
        <footer>
            <a href="https://public.tableau.com/app/profile/shreenidhi.sriram/viz/StoryCOVID-19VaccinationImpactintheUSBeforeAfterVaccination/Story1"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
  </div>
</div>

