<div class="wrapper" id="projects">
  <h2 class="section-header">Project Highlights</h2>
  <div class="container">
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/teamwork.png"/>
      </div>
      <div class="content">
        <a href="https://gitfront.io/r/AkshayaJ/20d76e0c87590ec628899d8e93431bb69dd124ea/TeamViz/">
          <header>
            <span>Research</span>
            <h2>Data Driven Evaluations of Student Groups</h2>
          </header>
          <section>
            <p>
              [Work in Progress] Prototype a tool to aid assessment of student groups by quantifying contribution of members and potentially identify issues within team interactions. To learn more about the details of the project, please reach out.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://gitfront.io/r/AkshayaJ/20d76e0c87590ec628899d8e93431bb69dd124ea/TeamViz/"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/ray_tracing.png" style="transform: scale(1.75, 1.75) translateY(-60px);"/>
      </div>
      <div class="content">
        <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/">
          <header>
            <span>Project</span>
            <h2>Ray Tracing</h2>
          </header>
          <section>
            <p>
              A parallelized ray tracing algorithm in CUDA based off of Kevin Beason's serialized implementation.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/stock_newspaper.jpg"/></div>
      <div class="content">
        <a href="https://gitfront.io/r/AkshayaJ/5f5712764f13b8da99a0890e213a778878e3abe6/CourseProject/">
          <header>
            <span>Project</span>
            <h2>Causal Topic Modeling</h2>
          </header>
          <section>
            <p>
              A python implementation of Iterative Topic Modeling with Time Series Feedback (ITMTF). We attempt to causally correlate textual data (i.e. news articles) with non-textual data (i.e. stock prices).
            </p>
          </section>
        </a>
        <footer>
            <a href="https://gitfront.io/r/AkshayaJ/5f5712764f13b8da99a0890e213a778878e3abe6/CourseProject/" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
  <!--   <div class="card">
      <div class="content">
        <a href="#">
          <header>
            <span>Category</span>
            <h2>Card Title Here</h2>
          </header>
          <section>
            <p>
              The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div> -->
  
  <!--   <div class="card">
      <div class="content">
        <a href="#">
          <header>
            <span>Category</span>
            <h2>Card Title Here</h2>
          </header>
          <section>
            <p>
              The core unit of git is the commit. A commit is simple on the surface (some code changes and a message). Such simplicity belies the complexity within.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://gitfront.io/r/AkshayaJ/5abdbe37d7fdbbeafc6ea4394a4e60e7b7841e01/RayTracing/"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div> -->
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/servers.jpg"/></div>
      <div class="content">
        <a href="https://www.overleaf.com/read/rqpmqnywcjnt">
          <header>
            <span>Technical Report</span>
            <h2>Adaboost Implementations on Distributed Systems: SparkBOOST vs Scikit-learn</h2>
          </header>
          <section>
            <p>
              A technical report seeking to determine the advantages of different implementations of the AdaBoostClassifier and at what point a distributed version of the algorithm outperforms its single-core counterpart.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.overleaf.com/read/rqpmqnywcjnt"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
  </div>
</div>

