<div class="wrapper" id="projects">
  <h2 class="section-header">Project Highlights</h2>
  <div class="container">
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/teamwork.jpeg"/>
      </div>
      <div class="content">
        <a href="https://github.com/snidhi99/Cancer-Diagnostic">
          <header>
            <span>Project</span>
            <h4>Real-time Cancer diagnostic engine using VGGNET Classifier - Technologies: Python, Neural Networks, Deep Learning</h4>
          </header>
          <section>
            <p>
              Implemented: 16-Layer deep VGGNET neural architecture. 93% Algorithm efficiency (SGD and ADAM). Flask to integrate with web.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/Cancer-Diagnostic"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/ray_tracing.webp" style="transform: scale(1.75, 1.75) translateY(-60px);"/>
      </div>
      <div class="content">
        <a href="https://github.com/snidhi99/TWITTER_SENTIMENT_ANALYSIS">
          <header>
            <span>Project</span>
            <h4>Content Recommendation and Sentimental Analysis for Twitter users - Technologies: Python, Machine Learning</h4>
          </header>
          <section>
            <p>
              Performed: Sentiment analysis, Topic modeling and recommendation system (Twitter). Classifies: 40,000 tweets into 140 interest categories. Hosted on Heroku.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/TWITTER_SENTIMENT_ANALYSIS" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/stock_newspaper.jpg"/></div>
      <div class="content">
        <a href="https://github.com/snidhi99/Student-Assistant-Application---Grad-Project">
          <header>
            <span>Project</span>
            <h4>Data analysis of Streamlined student assistance and deadline management engine - Technologies: SQL, Data Modeling, ETL</h4>
          </header>
          <section>
            <p>
              Automated: Deadline tracking. Performed: ERD-defined business rules, data modeling, and database normalization in MySQL using ETL.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/Student-Assistant-Application---Grad-Project" target="_blank"><i class="icon fa fa-github-alt"></i></a>
        </footer>
      </div>
    </div>
    
  
  
  
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/servers.gif"/></div>
      <div class="content">
        <a href="https://github.com/snidhi99/DATA-VIZ">
          <header>
            <span>Project</span>
            <h4>Analysis of Vaccination Impact on Public Health: Before and After COVID-19 - Technologies: Tableau, Excel</h4>
          </header>
          <section>
            <p>
              Created a Dashboard with Animated Visualizations in Tableau identifying indicators showing the impact of vaccination on the COVID-19 pandemic (State-wise) in the USA. 
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/DATA-VIZ"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
  </div>
</div>

