<div class="wrapper" id="achievements">
  <h2 class="section-header">Awards, Achievements & Certification</h2>
  <div class="container">

    <div class="card">
      <div class="pic">
        <img src="assets/static/images/MsAmb.png"/>
      </div>
      <div class="content">
        <a href="https://github.com/snidhi99/shreenidhisriram1/blob/main/assets/static/images/MicrosoftAmb.pdf">
          <header>
            <span>Microsoft Ambassador</span>
            <h4>"Microsoft Student Ambassador" issued by Microsoft</h4>
          </header>
          <section>
            <p>
              Award issued for orchestrating impactful sessions to disseminate analysis of the cutting-edge technology behind the design of Microsoft products. Verified as a Student Ambassador for Microsoft.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://github.com/snidhi99/shreenidhisriram1/blob/main/assets/static/images/MsAmb.png"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>

    
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/intel.jpg"/>
      </div>
      <div class="content">
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7004666003288702976/">
          <header>
            <span>Employee Recognition Award</span>
            <h4>"Fearless Innovation Award" issued by Intel Corporation</h4>
          </header>
          <section>
            <p>
              Award issued for idea generation and driving the team to excellence in innovation. For taking informed risks, learning and pivoting quickly from mistakes to be better, faster, smarter and for improving continuously to be more curious, bold and innovative.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7004666003288702976/"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/fearless.jpg"/>
      </div>
      <div class="content">
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7028425190787215360/">
          <header>
            <span>Employee Recognition Award</span>
            <h4>"One Intel Award" issued by Intel Corporation</h4>
          </header>
          <section>
            <p>
              Award issued for demonstrating teamwork, committing to team success and recognizing, respecting and building trust with each other.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7028425190787215360/"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/amz.png"/>
      </div>
      <div class="content">
        <a href="https://www.linkedin.com/pulse/summer-2022-internship-experience-software-engineer-sriram/?trackingId=tzXXnTvMRVSop78GsZz7qQ%3D%3D">
          <header>
            <span>Experience</span>
            <h4>Summer 2022 Internship Experience - Software Development Engineer Intern at Amazon</h4>
          </header>
          <section>
            <p>
              A brief article about my experience with Amazon, where I worked as a Software Development Engineer.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.linkedin.com/pulse/summer-2022-internship-experience-software-engineer-sriram/?trackingId=tzXXnTvMRVSop78GsZz7qQ%3D%3D"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/ms.png"/>
      </div>
      <div class="content">
        <a href="https://www.linkedin.com/company/utdinfotech/posts/?feedView=all">
          <header>
            <span>Experience</span>
            <h4>Microsoft Corporation - Student Ambassador program</h4>
          </header>
          <section>
            <p>
              Focusing on exhibiting leadership skills and effectively representing Microsoft by delivering successful presentations and events, promoting their products and initiatives to peers and educators, and demonstrating my passion for technology.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.linkedin.com/company/utdinfotech/posts/?feedView=all"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    
    
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/awscloud.png"/></div>
      <div class="content">
        <a href="https://www.credly.com/badges/c2d38294-6e0b-445f-a6f6-c26780e7b69c/public_url">
          <header>
            <span>Certification</span>
            <h4>AWS Certified Cloud Practitioner</h4>
          </header>
          <section>
            <p>
              Issued by Amazon Web Services (AWS). Gained a fundamental understanding of IT services and their uses in the AWS Cloud. Demonstrated cloud fluency and foundational AWS knowledge. Able to identify essential AWS services necessary to set up AWS-focused projects.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.credly.com/badges/c2d38294-6e0b-445f-a6f6-c26780e7b69c/public_url" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/orac.jpeg"/>
      </div>
      <div class="content">
        <a href="https://www.credly.com/badges/7f949094-77b0-4f42-8900-94c623b72f41?source=linked_in_profile">
          <header>
            <span>Certification</span>
            <h4>Oracle Certified Associate, Java SE 8 Programmer</h4>
          </header>
          <section>
            <p>
              Issued by Oracle Corporation. Demonstrated knowledge of object-oriented concepts, the Java programming language and general knowledge of Java platforms and technologies.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.credly.com/badges/7f949094-77b0-4f42-8900-94c623b72f41?source=linked_in_profile"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    
  </div>
</div>
