<div class="wrapper">
  <h2 class="section-header">Certification & Experiences (Blog)</h2>
  <div class="container">
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/oracle.png"/>
      </div>
      <div class="content">
        <a href="https://www.credly.com/badges/7f949094-77b0-4f42-8900-94c623b72f41?source=linked_in_profile">
          <header>
            <span>Certification</span>
            <h4>Oracle Certified Associate, Java SE 8 Programmer</h4>
          </header>
          <section>
            <p>
              Skills: Java, Java 8 Date And Time API, Java Application Development, Java SE 8, JDK 8, Lambda Expressions, Oracle Associate.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.credly.com/badges/7f949094-77b0-4f42-8900-94c623b72f41?source=linked_in_profile"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/aws.png"/></div>
      <div class="content">
        <a href="https://www.credly.com/badges/c2d38294-6e0b-445f-a6f6-c26780e7b69c/public_url">
          <header>
            <span>Certification</span>
            <h4>AWS Certified Cloud Practitioner</h4>
          </header>
          <section>
            <p>
              Skills: Amazon Web Services, AWS, AWS Certification, AWS Cloud, Cloud Certification, Cloud Computing, Cloud Platform, Cloud Services.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.credly.com/badges/c2d38294-6e0b-445f-a6f6-c26780e7b69c/public_url" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
  </div>
</div>
