<div class="wrapper">
  <h2 class="section-header">Certification & Experiences' Blog</h2>
  <div class="container">
    <div class="card">
      <div class="pic">
        <img src="assets/static/images/oracle.png"/>
      </div>
      <div class="content">
        <a href="https://www.credly.com/badges/7f949094-77b0-4f42-8900-94c623b72f41?source=linked_in_profile">
          <header>
            <span>Academic Project</span>
            <h4>Real-time Cancer diagnostic engine using VGGNET Classifier - Technologies: Python, Neural Networks, Deep Learning</h4>
          </header>
          <section>
            <p>
              Implemented: 16-Layer deep VGGNET neural architecture. 93% Algorithm efficiency (SGD and ADAM). Flask to integrate with web.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.credly.com/badges/7f949094-77b0-4f42-8900-94c623b72f41?source=linked_in_profile"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="pic"><img src="assets/static/images/aws.png"/></div>
      <div class="content">
        <a href="https://www.credly.com/badges/c2d38294-6e0b-445f-a6f6-c26780e7b69c/public_url">
          <header>
            <span>Personal Project</span>
            <h4>Traffic signs recognition and object detection for self driving cars - Technologies: Deep learning, NLP, Python</h4>
          </header>
          <section>
            <p>
              Performed image classification using the German Traffic Signs dataset. Built a sequential model (CNN, regression algorithms) with an overall accuracy of 91%.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.credly.com/badges/c2d38294-6e0b-445f-a6f6-c26780e7b69c/public_url" target="_blank"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
  </div>
</div>
