<!-- <div id="wrapper">
  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
  {% endif %}
  {% if site.show_downloads %}
    <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
    <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
  {% endif %}
  <div id="particles-js"></div>
</div> -->

<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Akshaya Jagannadharao</span>
        <span class="site-description">Data Enthusiast. Machine Learning Engineer. Software Developer.</span>
      </h1>
      <div class="header-icons">
        <a href="mailto:jagaskak@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a target="_blank" href="https://github.com/Jagaskak"><i class="icon fa fa-github-alt"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/akshaya-jagannadharao/"><i class="icon fa fa-linkedin"></i></a>
      </div>
      <a id="resumeBtn" href="assets/static/resume.pdf" target="_blank">Resume</a>
  </div>
  <a class="down" href="#timeline" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
