<div class="wrapper">
  <h2 class="section-header">International Publications</h2>
  <div class="container">
    <div class="card">
      <div class="head">
        <h3>Academic Publication</h3>
      </div>
      <div class="content">
        <a href="https://www.ijraset.com/fileserve.php?FID=30744">
          <header>
            
            <h4>Stock Market Prediction Using Logistic Regression Analysis - A Pilot Study</h4>
          </header>
          <section>
            <p>
              International Journal For Research In Applied Science & Engineering Technology (Jul 1, 2020) Volume 8, Issue 7, P: 2039-2043.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.ijraset.com/fileserve.php?FID=30744">< class="i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="head">
         <h3>Work Publication</h3>
      </div>
      <div class="content">
        <a href="https://www.ijcrt.org/viewfull.php?p_id=IJCRT2009244">
          <header>
            
            <h4>Emahila, A Digital Platform Promoting Upliftment Of Female Self Help Groups (Shg) Across The Nation- A Novel Internship Experience</h4>
          </header>
          <section>
            <p>
              International Journal Of Creative Research Thoughts (Sep 17, 2020) September 2020, Volume 8, Issue 9, P: 1926 - 1929.
            </p>
          </section>
        </a>
        <footer>
            <a href="hhttps://www.ijcrt.org/viewfull.php?p_id=IJCRT2009244" target="_blank">< class="i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="head">
         <h3>Academic Publication</h3>
      </div>
      <div class="content">
        <a href="https://www.researchgate.net/publication/346233473_Online_Cafe_-_Food_Ordering_Management_System_An_Innovative_Pilot_Study">
          <header>
            
            <h4>Online Cafe - Food Ordering Management System: An Innovative Pilot Study</h4>
          </header>
          <section>
            <p>
              International Journal For Research In Applied Science & Engineering Technology (Oct 1, 2020) Volume 8, Issue 10, P: 243 - 246.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.researchgate.net/publication/346233473_Online_Cafe_-_Food_Ordering_Management_System_An_Innovative_Pilot_Study" target="_blank">< class="i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="head">
         <h3>Academic Publication</h3>
      </div>
      <div class="content">
        <a href="https://www.ijraset.com/fileserve.php?FID=37657">
          <header>
            
            <h4>Prediction of Citations of a Scholarly Paper using Text extraction</h4>
          </header>
          <section>
            <p>
               International Journal for Research in Applied Science and Engineering Technology (August 2021) Volume 9, Issue VIII, P: 1735 - 1738.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.ijraset.com/fileserve.php?FID=37657" target="_blank">< class="i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="head">
         <h3>Academic Publication</h3>
      </div>
      <div class="content">
        <a href="https://www.academia.edu/44392704/Perception_of_Engineering_undergraduate_students_on_Summer_Internships_a_questionnaire_based_survey">
          <header>
            
            <h4>Perception Of Engineering Undergraduate Students On Summer Internships: A Questionnaire-Based Survey</h4>
          </header>
          <section>
            <p>
              International Journal Of Engineering Research And Applications (Oct 2020) Volume 10, Issue 10 (Series III), P: 32-35.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.academia.edu/44392704/Perception_of_Engineering_undergraduate_students_on_Summer_Internships_a_questionnaire_based_survey" target="_blank">< class="i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
    <div class="card">
      <div class="head">
         <h3>Academic Publication</h3>
      </div>
      <div class="content">
        <a href="https://www.jetir.org/view?paper=JETIR2006446">
          <header>
           
            <h4>Project Summer Internship For Engineering Students: A Boon Or Bane? – A Review</h4>
          </header>
          <section>
            <p>
              Journal Of Emerging Technologies & Innovative Research (June 2020) Volume 7, Issue 6, P: 776 - 784.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.jetir.org/view?paper=JETIR2006446" target="_blank">< class="i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
  </div>
</div>
