<div class="wrapper" id="recommendations">
  <h2 class="section-header">Recommendations</h2>
  <div class="container">

    <div class="card">
      <div class="pic">
        <img src="assets/static/images/swd.png"/>
      </div>
      <div class="content">
        <a href="https://www.linkedin.com/in/snidhi99/details/recommendations/?detailScreenTabIndex=0">
          <header>
            <span>John managed Shreenidhi directly during her tenure at Amazon</span>
            <h4>John Watts (Software Development Manager, Amazon, Seattle, WA)</h4>
          </header>
          <section>
            <p>
              "Shreenidhi interned with my Amazon team in the summer of 2022. She was an excellent member of the team and I was impressed with her detailed understanding of the problem domain and our user's needs. She deep-dived on the problem and was not afraid to challenge pre-existing assumptions about the best solution for her project. In the end she delivered a solution that spanned multiple systems and simplified one of the complex metadata modeling processes for our users."
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.linkedin.com/in/snidhi99/details/recommendations/?detailScreenTabIndex=0"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>


    <div class="card">
      <div class="pic">
        <img src="assets/static/images/dp.png"/>
      </div>
      <div class="content">
        <a href="https://www.linkedin.com/feed/update/urn:li:activity:7066303361196691456/">
          <header>
            <span>DISTINGUISHED PRACTITIONER AWARD</span>
            <h4>"Distinguished Practitioner Award" issued by UT Dallas</h4>
          </header>
          <section>
            <p>
              Awarded the esteemed "Distinguished Practitioner" accolade from The University of Texas at Dallas in recognition of the exemplary quality of work consistently delivered in the workplace from 2021-2023.
            </p>
          </section>
        </a>
        <footer>
            <a href="https://www.linkedin.com/feed/update/urn:li:activity:7066303361196691456/"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>


    <div class="card">
      <div class="pic">
        <img src="assets/static/images/MsAmb.png"/>
      </div>
      <div class="content">
        <a href="https://github.com/snidhi99/shreenidhisriram1/blob/main/assets/static/images/MicrosoftAmb.pdf">
          <header>
            <span>Microsoft Ambassador</span>
            <h4>"Microsoft Student Ambassador" issued by Microsoft</h4>
          </header>
          <section>
            <p>
              Award issued for orchestrating impactful sessions to disseminate analysis of the cutting-edge technology behind the design of Microsoft products. Verified as a Student Ambassador for Microsoft.
            </p>
          </section>
        </a>
        <footer>
            <a href="assets/static/images/MsAmb.png"><i class="fas fa-external-link-alt"></i></a>
        </footer>
      </div>
    </div>
    
  </div>
</div>
