<div class="wrapper">
   <h2 class="section-header">Education & Experience</h2>
   <div class="gantt">
 
     <span class="divider y-1"></span>
     <span class="divider y-2"></span>
     <span class="divider y-3"></span>
     <span class="divider y-4"></span>
     <span class="divider y-5"></span>
 
     <h3 class="h-y16">2016</h3>
     <h3 class="h-y17">2017</h3>
     <h3 class="h-y18">2018</h3>
     <h3 class="h-y19">2019</h3>
     <h3 class="h-y20">2020</h3>
     <h3 class="h-y21">2021</h3>
 
      <!--     Row order (i.e. education, research, experience) reversed so tooltip shows on top -->
     <div class="t-3 tooltip" style="grid-column: y16-mar / y16-aug;">
       Failure Analysis Intern
       <div class="tooltiptext">
         <h2 class="tooltip-h2">Electrical Failure Analysis Intern</h2>
         <h5 class="tooltip-h5">Intel | Jun 2016 - Aug 2016</h5>
         Created a Python library for the Non-Volatile Solutions Memory Group (NSG) organization that could interact with register space in PCIe devices on both Linux and Windows and on servers and desktops. The tool is used to test the electrical functionality and quality of the drives in both the lab and field. 
       </div>
     </div>
     <div class="t-3 tooltip" style="grid-column: y17-apr / y17-oct;">
       Tool Developer Intern
       <div class="tooltiptext">
         <h2 class="tooltip-h2">Tool Developer Intern</h2>
         <h5 class="tooltip-h5">Intel | May 2017 - Aug 2017</h5>
         Automated failure analysis tools for faster PCIe bus analysis and output basic triage. Optimized internal debug scripts to retrieve and analyze encrypted data from Solid State Drives(SSDs). Improved analysis time of Power Loss Imminent (PLI) bands by 60%. 
       </div>
     </div>
     <div class="t-3 tooltip" style="grid-column: y18-apr / y18-oct;">
       HPC Frameworks Intern
       <div class="tooltiptext">
         <h2 class="tooltip-h2">HPC Frameworks Intern</h2>
         <h5 class="tooltip-h5">Intel | May 2018 - Aug 2018</h5>
         Enhanced features in the test harness and underlying software [Middleware Testing Tool (MTT)] and aided internal and Open Source release of the software. Configured test environment in Travis CI to run regression tests for MTT’s Python Client for OpenSource Community. Revamped and created internal and Open Source documentation for MTT by creating a website for users and developers to understand MTT architecture and documentation <a href="open-mpi.github.io/mtt">MTT</a>. 
       </div>
     </div>
     <div class="t-3 tooltip" style="grid-column: y18-dec / y19-may;">
       Data Analyst Intern
       <div class="tooltiptext" style="right: 0;">
         <h2 class="tooltip-h2">Title</h2>
         <h5 class="tooltip-h5">Blue Cross Blue Shield (BCBS) | Jan 2019 - May 2019</h5>
         R&D role focused on using Natural Language Processing. Used Natural Language Processing (NLP) to create topic models and performed sentiment analysis on customer calls to develop business goals targeted at making improvements to customer service.
       </div>
     </div>
     <div class="t-3 tooltip" style="grid-column: y19-may / y19-sep;">
       Full Stack Intern
       <div class="tooltiptext" style="right: 0;">
         <h2 class="tooltip-h2">Full Stack Intern</h2>
         <h5 class="tooltip-h5">Intel | May 2019 - Aug 2019</h5>
         Co-developed graphical interfaces using Plotly for data visualization of test results that enables developers to measure FOM in Intel supercomputers involving multiple compute nodes, CPUs, GPUs, HW/SW, high-performance fabric, etc. Co-created front-end interface to organize and run integration, regression, and unit tests for performance and functional validation. Co-created PostgreSQL database to store test results. Code reviewer for Command Line Interface (CLI) that interacts with Jenkins console to run test suites configured in the web tool. 
       </div>
     </div>
     <div class="t-3 tooltip" style="grid-column: y20-may / y21-feb;">
       HPC Software Intern
       <div class="tooltiptext" style="right: 0;">
         <h2 class="tooltip-h2">HPC Software Intern</h2>
         <h5 class="tooltip-h5">Intel | May 2020 - Feb 2021</h5>
         Supporting Power-On. Developing infrastructure to extract performance data from Cray HPE systems to validate the integration of Intel's hardware with Cray's software stack. Extract and analyze performance data and visualize Figure of Merit (FOM) metrics in webtool.
       </div>
     </div>
      
     <div class="t-2 tooltip" style="grid-column: y19-oct / y21-may;">
       Graduate Research Assistant
       <div class="tooltiptext" style="right: 0;">
         <h2 class="tooltip-h2">Graduate Research Assistant</h2>
         <h5 class="tooltip-h5">University of Illinois at Urbana-Champaign | Oct 2019 - May 2021</h5>
         I am working with a Ph.D. student in Human-Computer Interaction (HCI) to assess individual contributions within a team and the impact of bias when team members evaluate each other. Our goal is to develop an application that provides a comprehensive analysis from multiple sources (i.e. GoogleDoc, GitHub, Slack, Messenger) and visually display the breakdown of team contributions of a collaborative project. We envision our tool being used by students and instructors to understand and improve team dynamics. I am working on collecting data from different collaborative resources students typically use (i.e. GitHub, Slack, Google Slides/Docs, Zoom, etc) with another assistant. I am also putting together a database to send all our aggregated data to and a front-end to visualize the breakdown of student contributions in a team.
       </div>
     </div>
     
     <div class="t-1 tooltip" style="grid-column: y16-aug / y20-may;">
       B.S.
       <div class="tooltiptext" style="left: 0px ;">
         <h2 class="tooltip-h2">Bachelor of Science</h2>
         <h5 class="tooltip-h5">University of Illinois at Urbana-Champaign | Aug 2020 - May 2021</h5>
         Graduated May 2020 with Honors.
       </div>
     </div> 
     <div class="t-1 tooltip" style="grid-column: y20-aug / y21-may;">
       MCS
       <div class="tooltiptext" style="right: 0px;">
         <h2 class="tooltip-h2">Master of Computer Science</h2>
         <h5 class="tooltip-h5">University of Illinois at Urbana-Champaign | Aug 2016 - May 2020</h5>
         Currently pursuing my Master's Degree at the University of Illinois at Urbana-Champaign. I expect to graduate in May 2021. 
       </div>
     </div>
   </div>

   <div class="legend">
     <div class="element">
       <div class="color" style="background-color: #008390;"></div>
       <div class="name">Education</div>
     </div>
     <div class="element">
       <div class="color" style="background-color: #69b7b4;"></div>
       <div class="name">Research</div>
     </div>
     <div class="element">
       <div class="color" style="background-color: #8c2d67;"></div>
       <div class="name">Experience</div>
     </div>
   </div>
 </div>