<div class="wrapper">
   <h2 class="section-header">Education & Experience</h2>
   <div class="gantt">
 
     <span class="divider y-1"></span>
     <span class="divider y-2"></span>
     <span class="divider y-3"></span>
     <span class="divider y-4"></span>
     <span class="divider y-5"></span>
 
    <!-- <h3 class="h-y16">2017</h3> -->
     <h3 class="h-y17">2018</h3>
     <h3 class="h-y18">2019</h3>
     <h3 class="h-y19">2020</h3>
     <h3 class="h-y20">2021</h3>
     <h3 class="h-y21">2022</h3>
     <h3 class="h-y22">2023</h3>
 
      <!--     Row order (i.e. education, research, experience) reversed so tooltip shows on top -->
     <div class="t-3 tooltip" style="grid-column: y18-may / y18-jun;">
       Product Analyst Intern
       <div class="tooltiptext">
         <h2 class="tooltip-h2">Product Analyst Intern | Amtex Systems, Chennai</h2>
         <h5 class="tooltip-h5">May 2019 - Jun 2019</h5>
         Developed a digital ecosystem - eMahila, building the Eco-system as SAAS product with LMS, Fintech, and e-com at its fulcrum. Implemented B2C strategies and interpreted data through product analysis to identify KPIs and understand possible drawbacks in the ecosystem, increasing positive user feedback by 26%. Analyzed the mode of leveraging agile methodologies for rapidly developing industry-leading software whilst reducing the time to market. Managed cross-functional teams and stakeholder communication and oversaw ideation for product delivery leveraging the ‘follow-the-sun’ delivery model which led to a 40% increase in productivity. Presented ideas which were implemented in the software development lifecycle. 
       </div>
     </div>
     <div class="t-2 tooltip" style="grid-column: y20-sep / y21-may;">
       Graduate Student Assistant
       <div class="tooltiptext">
         <h2 class="tooltip-h2">Graduate Student Assistant | UT Dallas</h2>
         <h5 class="tooltip-h5">Sep 2021 - May 2022</h5>
         Demonstrated strong leadership by taking the initiative to streamline operations, implement new processes, and foster improved communication and collaboration among team members. Improved efficiency through identifying areas for improvement and implementing new systems. Automated repetitive tasks for increased accuracy and productivity. Optimized processes for better tracking and reduced bottlenecks. Improved communication between teams for a more efficient work environment.
       </div>
     </div>
     <div class="t-3 tooltip" style="grid-column: y21-may / y21-aug;">
       Software Development Engineer Intern
       <div class="tooltiptext">
         <h2 class="tooltip-h2">Software Development Engineer Intern | Amazon, Seattle</h2>
         <h5 class="tooltip-h5"> May 2022 - Aug 2022</h5>
          Delivered a high-quality, scalable system using Java and AWS for the backend of amazon.com (Browse) for 350 million products. Optimized complex metadata modeling processes achieving an 85% faster info-retrieval. Streamlined the entire workflow into one, condensing the need for 4 supplementary systems. Eliminated overhead activities associated with the current workflow. Built 3 RESTful APIs, deployed the applications in the AWS cloud infrastructure, and tested endpoints in Postman. Utilized AWS tools and services including Lambda, EC2, and S3, and orchestration technologies like Docker and ECS Fargate. Integrated API responses from catalog databases to help end-users validate queries for 1300+ product identifiers (indexed). Devised options to retrieve 4 million unindexed attributes using Athena, DynamoDB, HBase, EIP, etc.

     </div>
     <div class="t-3 tooltip" style="grid-column: y21-sep / y22-may;">
       Data Analyst and Business Intelligence Intern (Graduate Technical)
       <div class="tooltiptext" style="right: 0;">
         <h2 class="tooltip-h2">Data Analyst and Business Intelligence Intern | Intel Corporation, California</h2>
         <h5 class="tooltip-h5">Sep 2022 - May 2023</h5>
          Created and maintained data pipelines, databases, and dashboards to convey complex data insights to business stakeholders. Developed ETL processes to manipulate data, restructured Jira databases, and used Microsoft SQL to store weekly snapshots. Employed JQL to extract data from Jira and Power query to transform and load data from multiple sources into Power BI. Deployed PowerBI dashboards for 6 customer projects using DAX functionalities to model data and track KPIs. Automated data processing and file generation by integrating PowerBI with Power Automate, simplifying the overall flow by 17%. Explored Microsoft Azure analytics, setting up an automated workflow for file deposit in a remote data lake storage. Visualized reports breaking down activity, average run-time between states, and throughput of issues for each work week.

       </div>
     </div>
     <div class="t-2 tooltip" style="grid-column: y22-jan / y22-may;">
       Microsoft Student Ambassador
       <div class="tooltiptext" style="right: 0;">
         <h2 class="tooltip-h2">Student Ambassador | Microsoft Corporation</h2>
         <h5 class="tooltip-h5">Jan 2023 - May 2023</h5>
         Currently serving as a Student Ambassador for Microsoft Corporation, focusing on exhibiting leadership skills and effectively representing Microsoft by delivering successful presentations and events, promoting their products and initiatives to peers and educators, and demonstrating my passion for technology.
     </div>
     
     <div class="t-1 tooltip" style="grid-column: y16-aug / y20-may;">
       B.S.
       <div class="tooltiptext" style="left: 0px ;">
         <h2 class="tooltip-h2">Bachelor of Engineering (B.E.) in Computer Science and Engineering</h2>
         <h5 class="tooltip-h5">College of Engineering, Guindy (Anna University - Main Campus) | Aug 2017 - May 2021</h5>
       </div>
     </div> 
     <div class="t-1 tooltip" style="grid-column: y20-aug / y22-may;">
       MCS
       <div class="tooltiptext" style="right: 0px;">
         <h2 class="tooltip-h2">Master of Science in Information Technology and Management</h2>
         <h5 class="tooltip-h5">The University of Texas at Dallas | Aug 2021 - May 2023</h5>
         Currently pursuing my Master's Degree at he University of Texas at Dallas. I expect to graduate in May 2023. 
       </div>
     </div>
   </div>

   <div class="legend">
     <div class="element">
       <div class="color" style="background-color: #008390;"></div>
       <div class="name">Education</div>
     </div>
     <div class="element">
       <div class="color" style="background-color: #69b7b4;"></div>
       <div class="name">Research</div>
     </div>
     <div class="element">
       <div class="color" style="background-color: #8c2d67;"></div>
       <div class="name">Experience</div>
     </div>
   </div>
 </div>