---
---

@import "{{ site.theme }}";
@import 'header';
@import 'navbar';
@import 'footer';
@import 'timeline';
@import 'cards';

body {
  background: #f4f8fb;
  font-family: system-ui;
  box-sizing: border-box;
}

.wrapper {
  width: 90%;
  padding: 20px;
  margin-top: 8vh;
  margin-left: auto;
  margin-right: auto;
  background: white;
  border-radius: 10px;
  box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.2),
      1px 3px 8px rgba(39, 44, 49, 0.03);
}

.section-header {
  text-align: center;
  width: 90%;
  margin: 10px auto 30px auto;
}

